.singleDog__container {
    height: 100vh;
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.singleDog__dogCard {
    background-color: var(--header-color);
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    padding: 0.8rem;
}

.singleDog__dogCard--img {
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

.singleDog__dogCard--info {
    padding: 0.5rem;
    text-align: left;
}

.singleDog__dogCard--info li {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.singleDog__dogCard--name {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.singleDog__dogCard--name img {
    width: 20px;
}